@use '../../App/styles/globals';

.admin-index {
  width: 100%;
  min-height: 100vh;
  color: globals.$dark-color;
  @include globals.flex(flex-start, center, column);

  &__header {
    padding: 1rem 2.5rem 0rem 2.5rem;
    @include globals.flex(space-between, center, row);
    .logo {
      width: 25%;
    }
    i {
      font-size: 2rem;
    }
  }
  &__menu {
    padding-bottom: 2rem;
    width: 100%;
    height: 100%;
    flex: 1;
    @include globals.flex(center, center, column);

    .admin-index__category {
      @include globals.flex(center, center, column);
      width: 100%;
    }
    img {
      width: 25%;
    }

    i {
      font-size: 8rem
    }

    .generic-button {
      @include globals.generic-button(70%);
      @include globals.flex(center, center, unset);
      margin-bottom: 3rem;
      margin-top: 1rem;
      text-decoration: none;
      @media(min-width: 800px) {
        margin-bottom: 8rem;
      }
    }

    .generic-button:hover{
      @include globals.hover-button;
    }
  }
}


@media (min-width: 600px) {
  .admin-index {
    .logo{
      width:15%;
    }
    i {
      font-size:3.8rem;
    }
    &__menu {
      i {
        font-size:12rem;
      }
      img {
        width:18%
      }
    }
    .generic-button {
      margin-bottom: 6rem;
      width: 60%;
      height:6rem;
      font-size: 2.5rem;
      font-weight: 900;
      border-radius: 4rem;
    }
  }
}

@media (min-width: 1000px) {
  .admin-index__header {
    height: 16vh;
    width: 100%;
    padding: 1rem 3rem 0 2rem;

    & .logo {
      height: 95%;
      width: auto;
    }
  }

  .admin-index__menu {
    @include globals.flex(center, center, row);

    .admin-index__category {
      width: 30%;
    }

    img {
      width: 14.5rem;
    }

    .generic-button {
      width: 80%;
    }
  }


}