@use '../../App/styles/globals';

.admin-users {
  padding-top: 11rem;
}
.admin-user__container {
  width: 100%;
  @include globals.flex(center, center, column);
  .generic-button {
    margin-bottom: 3.5rem;
    @include globals.generic-button(90%);

    &:hover {
      @include globals.hover-button;
    }
  }
  .admin-user__users-table {
    width: 90%;
    border-radius: 2.5rem;
    font-family: globals.$main-font;
    font-size: 2.1rem;
    color: globals.$dark-color;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    thead th {
      height: 4.6rem;
      border-bottom: solid 0.3rem globals.$gray-color;
    }
  }

  .admin-user__form-create-user {
    display: none;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .admin-users {
    padding-top: 13rem;
  }
  .admin-user__container {
    .generic-button {
      width: 70%;
      height: 6rem;
      border-radius: 4rem;
      font-size: 2.2rem;
      font-weight: 700;
    }

    .admin-user__users-table {
      width: 80%;
      font-size: 2.4rem;

      thead th {
        height: 6rem;
      }
    }
  }
}
