@use '../../../../App/styles/globals';

.product-order-item{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  margin: 1rem 0rem;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  width: 100%;
  font-size: 1.9rem;
  background-color:rgb(243, 243, 243);
  border-radius: 2.2rem;
  .product-order__item-title {
    text-shadow: 1px 1px 1px globals.$dark-gray-color;
    color: globals.$main-color;
  }
}

@media (min-width: 600px) {
  .product-order-item{ 
    font-size: 2.1rem;
  }
}

@media (min-width: 1000px) {
  .product-order-item{ 
    font-size: 1.9rem;
  }
}