@use '../../../../App/styles/globals';

.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: globals.$main-font;
  color: globals.$dark-color;
  font-weight: 900;
  overflow: hidden;

  &__image {
    position: relative;
    .login__background {
      width: 120%;
    }
    .login__container-form-logo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 3rem;
      margin: auto;
      width: 40%;
    }
  }

  form {
    padding-bottom: 2rem;
    width: 100%;
    @include globals.center-flex;
    flex-direction: column;
    flex: 1;
    background-color: white;

    .login__container-form-logo--desktop {
      display: none;
    }

    h1 {
      margin-top: 0rem;
      width: 80%;
      font-family: globals.$secondary-font;
      color: globals.$dark-color;
      font-size: 3.2rem;
    }

    label {
      margin-bottom: 1.5rem;
      width: 80%;
      display: flex;
      flex-direction: column;
      font-size: 1.9rem;
      font-family: globals.$main-font;
      font-weight: 800;
    }

    input {
      padding: 0 2rem;
      height: 4.4rem;
      background-color: #eeeeee;
      border: none;
      border-radius: 2rem;
      font-family: globals.$main-font;
      font-size: 1.7rem;
      font-weight: 600;
      outline: none;

      &:focus {
        outline: globals.$main-color 0.1rem solid;
      }

      &::placeholder {
        color: #acabab;
      }
    }

    .login__message-error {
      @include globals.center-flex;
      i {
        margin-right: 1rem;
        font-size: 1.5rem;
        color: globals.$secondary-color;
      }
      font-size: 1.6rem;
      font-weight: 600;
      color: globals.$secondary-color;
    }

    button {
      margin-top: 1.5rem;
      width: 80%;
      height: 4.6rem;
      font-family: globals.$main-font;
      font-size: 2.1rem;
      font-weight: 700;
      border: none;
      border-radius: 2rem;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: globals.$main-color;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: globals.$secondary-color;
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .login {
    .login__image {
      width: 100%;
    }
  }
}

@media (min-width: 600px) {
  .login {
    .login__image {
      width: 100%;
      height: 49rem;
    }
    .login__background {
      width: 110%;
      height: 100%;
    }
    .login__container-form-logo {
      width: 30%;
      padding-bottom: 2rem;
    }
    form {
      flex: 1;
      background-color: transparent;
      width: 94%;
      gap: 2rem;
      h1 {
        font-size: 4.7rem;
        margin: 0;
      }
      label {
        font-size: 2.8rem;
        margin: 0;
      }
      input {
        height: 6.7rem;
        padding-left: 4rem;
        font-size: 2.3rem;
        border-radius: 4rem;
      }
      button {
        height: 7rem;
        font-weight: 800;
        font-size: 3rem;
      }
    }
    .login__message-error {
      font-size: 2.4rem;
    }
  }
}

@media (min-width: 750px) and (max-width: 999px) {
  .login {
    .login__image {
      
      width: 100%;
      height: 55rem;
      .login__container-form-logo {
        width: 25%;
        padding-bottom: 2rem;
      }
    }
    form {
      width: 95%;
      max-width: 90rem;
    }
  }
}
