@use '../../App/styles/globals';

.orders-status {
  padding-top: 11rem;
}
.orders-status__container {
  width: 100%;
  @include globals.flex(center, center, column);

  select {
    padding: 0 2rem;
    width: 90%;
    height: 4.4rem;
    background-color: #fff;
    border: none;
    border-radius: 2rem;
    font-family: globals.$main-font;
    font-size: 1.7rem;
    font-weight: 600;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-right: 2rem solid transparent;
    cursor: pointer;
    &:focus {
      outline: globals.$main-color 0.1rem solid;
    }
  }

  .order-table {
    width: 90%;
    @include globals.flex(center, center, column);
    border-radius: 2.5rem;
    margin-bottom: 4rem;
    font-family: globals.$main-font;
    font-size: 2.1rem;
    color: globals.$dark-color;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    thead th {
      height: 4.6rem;
      border-bottom: solid 0.3rem globals.$gray-color;
    }

    tbody tr {
      gap: 1.5rem;
    }
  }
  .orders-status__pending-orders {
    display: none;
  }
  .orders-status__pending-orders--active {
    display: flex;
  }

  .orders-status__finished-orders {
    display: none;
  }

  .orders-status__finished-orders--active {
    display: flex;
  }

  .orders-status__delivered-orders {
    display: none;
  }

  .orders-status__delivered-orders--active {
    display: flex;
  }
}

@media (min-width: 1000px) {
  .orders-status__container {
    .orders-status__select-status {
      display: none;
    }

    .orders-status__pending-orders {
      display: flex;
    }
    .orders-status__finished-orders {
      display: flex;
    }
    .orders-status__delivered-orders {
      display: flex;
    }
  }
}
