@use '../../App/styles/globals';

.orders-status {
  padding-top: 11rem;
}

.orders-status__container {
  width: 100%;
  @include globals.flex(center, center, column);

  select {
    margin-top: 2rem;
    padding: 0 2rem;
    width: 90%;
    height: 4.4rem;
    background-color: #fff;
    border: none;
    border-radius: 2rem;
    font-family: globals.$main-font;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-right: 2rem solid transparent;
    cursor: pointer;
    &:focus {
      outline: globals.$main-color 0.1rem solid;
    }
  }

  .order-table {
    margin-top: 4rem;
    width: 90%;
    @include globals.flex(center, center, column);
    border-radius: 2.5rem;
    margin-bottom: 4rem;
    font-family: globals.$main-font;
    font-size: 2.4rem;
    color: globals.$dark-color;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    thead th {
      height: 4.6rem;
      width: 100%;
    }

    tbody {
      display: flex;
      overflow-y:scroll;
      min-height: 55vh;
      max-height: 55vh;
      flex-direction: column;
      width: 100%;
      font-size: 2.1rem;
      margin-bottom: 2rem;
      .item-order {
        display: flex;
        @include globals.flex(center, center, column);
        width: 100%;
      }
    }

    tbody::-webkit-scrollbar {
      width: 12px;             /* width of the entire scrollbar */
    }
    
    tbody::-webkit-scrollbar-track {
      background: transparent;        /* color of the tracking area */
    }
    
    tbody::-webkit-scrollbar-thumb {
      background-color: #fdcb8e;    /* color of the scroll thumb */
      border-radius: 20px;       /* roundness of the scroll thumb */
      border: 3px solid white;  /* creates padding around scroll thumb */
    }

  }

  .orders-status__pending-orders {
    display: none;
  }
  .orders-status__pending-orders--active {
    display: flex;
  }

  .orders-status__finished-orders {
    display: none;
  }

  .orders-status__finished-orders--active {
    display: flex;
  }

  .orders-status__delivered-orders {
    display: none;
  }

  .orders-status__delivered-orders--active {
    display: flex;
  }
}

.orders-status__container--closed {
  display: none;
}

@media (min-width: 600px) {
  .orders-status {
    padding-top: 13rem;
  }
  .orders-status__container {
    .order-table {
      width: 80%;
    }
    .orders-status__select-status {
      width: 80%;
    }
  }
}

@media (min-width: 1000px) {
  .orders-status {
    padding-top: 11rem;
  }
  .orders-status__container {
    @include globals.flex(space-around, flex-start, row);
    .order-table {
      width: 28%;
    }
    .orders-status__select-status {
      display: none;
    }
    .orders-status__pending-orders {
      display: flex;
    }
    .orders-status__finished-orders {
      display: flex;
    }
    .orders-status__delivered-orders {
      display: flex;
    }
  }
}
