@use '../../App/styles/globals';

.admin-products {
  padding-top: 11rem;
}
.admin-products__container {
  width: 100%;
  @include globals.flex(center, center, column);
  .generic-button {
    margin-bottom: 3.5rem;
    @include globals.generic-button(90%);

    &:hover {
      @include globals.hover-button;
    }
  }
  .admin-products__products-table {
    width: 90%;
    border-radius: 2.5rem;
    margin-bottom: 4rem;
    font-family: globals.$main-font;
    font-size: 2.1rem;
    color: globals.$dark-color;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    thead th {
      height: 4.6rem;
      border-bottom: solid 0.3rem globals.$gray-color;
    }

  }

  .admin-products__form-create-products {
    display: none;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .admin-products {
    padding-top: 13rem;
  }
  .admin-products__container {
    .generic-button {
      width: 70%;
      height: 6rem;
      border-radius: 4rem;
      font-size: 2.2rem;
      font-weight: 700;
    }

    .admin-products__products-table {
      width: 80%;
      font-size: 2.4rem;

      thead th {
        height: 6rem;
      }
    }
  }
}

@media (min-width: 1000px) {
  .admin-products {
    padding-top: 9rem;
  }
  .admin-products__container {
    flex-direction: row;
    align-items: flex-start;
    padding: 4rem;
    padding-bottom: 1rem;
    gap: 5rem;
    .create-products-button {
      display: none;
    }
    .admin-products__products-table {
      min-height: 40rem;
      font-size: 1.9rem;
      margin-bottom: 0;
      
      tbody {
        @include globals.flex(flex-start, unset, column);
        max-height: 60vh;
        overflow: scroll;
      }
    }
    .admin-products__form-create-products {
      display: flex;
      min-height: 40rem;
      width: 38%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;
    }
  }
}

@media (min-width: 1300px) {
  .admin-products__container {
    .admin-products__products-table {
      tbody {
        max-height: 66vh;
        overflow: scroll;
      }
    }
  }
}
