@use '../../App/styles/globals';

.modal-container {
  background-color: rgba($color: #000000, $alpha: 0.75);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;

  .modal-content {
    // @include globals.flex(center, center, column);
    text-align: right;
    background-color: white;
    overflow: scroll;
    width: 90%;
    height: fit-content;
    padding-bottom:3rem;
    border-radius: 2.5rem;

    &__close-button {
      margin-right: 2rem;
      margin-top: 2rem;
      border: none;
      color: globals.$secondary-color;
      font-size: 3rem;
      background-color: transparent;
    }
  }
}

.modal-container--open {
  display: flex;
}
